<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DSNadaptor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <DSNadaptor.Properties.Settings>
      <setting name="TLMwebServer" serializeAs="String">
        <value>&lt;TLM_SERVER_URL&gt;</value>
      </setting>
      <setting name="SpacecraftID" serializeAs="String">
        <value>&lt;SPACECRAFT_ID&gt;</value>
      </setting>
      <setting name="OpenAM_username" serializeAs="String">
        <value>&lt;AM_USERNAME&gt;</value>
      </setting>
      <setting name="OpenAM_password" serializeAs="String">
        <value>&lt;AM_PASSWORD&gt;</value>
      </setting>
      <setting name="UseAuthentication" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="udpDestIP" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>DESTINATION_IP_1</string>
            <string>DESTINATION_IP_2</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="udpPort" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>UDP_PORT</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="BaseURI" serializeAs="String">
        <value>https://&lt;server&gt;/&lt;rel_address&gt;</value>
      </setting>
      <setting name="RequestRetries" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="RequestInterval" serializeAs="String">
        <value>720</value>
      </setting>
      <setting name="ConnectionInterval" serializeAs="String">
        <value>60000</value>
      </setting>
      <setting name="RequestTimeout" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="deliveryDelay" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="calcDelay" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ByteToDelayRatio" serializeAs="String">
        <value>18</value>
      </setting>
      <setting name="SFDUsync" serializeAs="String">
        <value>&lt;SFDU_SYNC_WORD&gt;</value>
      </setting>
      <setting name="ProxyServerUsage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProxyServerAddress" serializeAs="String">
        <value>&lt;PROXY_IP&gt;</value>
      </setting>
      <setting name="ProxyServerPort" serializeAs="String">
        <value>9999</value>
      </setting>
      <setting name="OpenAM_CookieRetrievalURI" serializeAs="String">
        <value>&lt;OPEN_AM_COOKIE&gt;</value>
      </setting>
      <setting name="OpenAM_AuthenticationURI" serializeAs="String">
        <value>&lt;OPEN_AM_AUTH_URL&gt;</value>
      </setting>
      <setting name="LengthAttributeOffset" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="LengthAttributeSize" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="PVLblocks" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>&lt;PVL_BLOCKS_DELIMITERS&gt;</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="PVLdataStart" serializeAs="String">
        <value>&lt;STATUS_BLOCK_START&gt;</value>
      </setting>
      <setting name="DebugLevel" serializeAs="String">
        <value>NONE</value>
      </setting>
      <setting name="DebugFile" serializeAs="String">
        <value>.\DSNdebug</value>
      </setting>
      <setting name="CookieDomainName" serializeAs="String">
        <value>&lt;COOKIE_DOMAIN_NAME&gt;</value>
      </setting>
      <setting name="CookieDefaultName" serializeAs="String">
        <value>&lt;COOKIE_DEFAULT_NAME&gt;</value>
      </setting>
      <setting name="TokenValidity" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="RetryInterval" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="BufferSize" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="QueryServers" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>&lt;QUERY_SERVER&gt;</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ReadStreamInterval" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="sftpIP" serializeAs="String">
        <value>&lt;SFTP_SERVER_IP&gt;</value>
      </setting>
      <setting name="sftpUser" serializeAs="String">
        <value>&lt;SFTP_USER&gt;</value>
      </setting>
      <setting name="sftpDir" serializeAs="String">
        <value>&lt;SFTP_DIR&gt;</value>
      </setting>
      <setting name="sftpKetFileDir" serializeAs="String">
        <value>&lt;SFTP_KET_FILE&gt;</value>
      </setting>
      <setting name="sftpFileHeader" serializeAs="String">
        <value>&lt;SFTP_FILE_HEADER&gt;</value>
      </setting>
      <setting name="sftpListInterval" serializeAs="String">
        <value>1800000</value>
      </setting>
      <setting name="LogFileDir" serializeAs="String">
        <value>.\</value>
      </setting>
      <setting name="OpenAM_server" serializeAs="String">
        <value>&lt;server&gt;</value>
      </setting>
    </DSNadaptor.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>